# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# VS Code settings
.vscode/

# Project specific
data/
Presentes/
*.xml

